shinyUI(dashboardPage(
                      dashboardHeader(title="Aire|Tabasco"),
                      
                      dashboardSidebar(
                        sidebarMenu(
                          menuItem("Mapa", tabName = "mapa", icon = icon("map")),
                          menuItem("Graficas", tabName = "graficas", icon = icon("area-chart"),
                                   menuSubItem("Serie de Tiempo", tabName = "series"),
                                   menuSubItem("Boxplot", tabName = "box-plot"),
                                   menuSubItem("Variacion Temporal", tabName = "time")
                          ),
                          menuItem("Respira",tabName="Respira",icon=icon("registered"),
                                   menuSubItem("Bicontaminante", tabName = "bi"),
                                   menuSubItem("Unicontaminante", tabName = "uni"))
                          
                        )
                        
                      ),
                      
                      
                      dashboardBody(
                        tabItems(
                          tabItem("mapa",
                                  sidebarLayout(
                                    sidebarPanel(
                                      
                                      box(width = NULL,solidHeader = TRUE, status = "success",
                                          div(strong("Villahermosa, Tabasco. "), textOutput("from", inline = TRUE)),
                                          div(strong("Hora: "), textOutput("hrs", inline = TRUE)),
                                          div(strong("Contaminante: "), textOutput("to", inline = TRUE))),
                                      box(
                                        title = "Escala",width = NULL,solidHeader = TRUE, status = "success",
                                        box(width = NULL,background = "green",
                                            actionButton(inputId ="t1",label="Calidad Buena",width = 190)),
                                        box(width = NULL,background = "yellow",
                                            actionButton(inputId ="t2",label="Calidad Regular",width = 190)),
                                        box(width = NULL,background = "orange",
                                            actionButton(inputId ="t3",label="Calidad Mala",width = 190)),
                                        box(width = NULL,background = "red",
                                            actionButton(inputId ="t4",label="Calidad Muy Mala",width = 190)),
                                        box(width = NULL,background = "purple",
                                            actionButton(inputId ="t5",label="Calidad Ext. Mala",width = 190))
                                      )),
                                    
                                    mainPanel(
                                      box(
                                        title = "Calidad del Aire|Tabasco",width = NULL, solidHeader = TRUE, status = "success",
                                        
                                        leafletOutput("mymap")), 
                                      box(title = "Recomendaciones",width = NULL,solidHeader = TRUE, status = "success",
                                          textOutput("uno"),
                                          textOutput("dos"),
                                          textOutput("tres"),
                                          textOutput("cuatro"),
                                          textOutput("cinco"))             
                                    ))),
                          
                          
                          
                          
                          tabItem(tabName = "series",
                                  fluidRow(
                                    column(width=4,
                                           selectInput("V1", "Estacion:", c("IVTH","SEP"))),
                                    fluidRow(  
                                      column(width=4,
                                             selectInput("V2", "Parametro:", c("SO2",
                                                                               "NO2",
                                                                               "CO",
                                                                               "Ozono",
                                                                               "PM10"))),
                                      fluidRow(
                                        column(width=4,
                                               selectInput("V3", "Anual:",c("2011","2012","2013","2014","2015","2016","2017")))))),
                                  
                                  box(width = NULL,status = "success",
                                      fluidRow(
                                        column(width=12,
                                               dygraphOutput("dygraph")
                                        )
                                      ))
                          ),
                          tabItem(tabName = "box-plot",
                                  fluidRow(
                                    column(width=4,
                                           selectInput("B1", "Estacion:", c("IVTH","SEP"))),
                                    fluidRow(
                                      column(width=4,
                                             selectInput("B2", "Parametro:", c("SO2",
                                                                               "NO2",
                                                                               "CO",
                                                                               "Ozono",
                                                                               "PM10"))),
                                      fluidRow(
                                        column(width=4,
                                               selectInput("B3", "Anual:",c("2011","2012","2013","2014","2015","2016","2017")))))),
                                  box(width = NULL,status = "success",
                                      fluidRow(
                                        column(width=12,
                                               
                                               plotOutput("plot1"))))),
                          
                          tabItem(tabName = "time",
                                  fluidRow(
                                    column(width=4,
                                           selectInput("C1", "Estacion:", c("IVTH","SEP"))),
                                    fluidRow(
                                      column(width=4,
                                             selectInput("C2", "Parametro:", c("SO2",
                                                                               "NO2",
                                                                               "CO",
                                                                               "Ozono",
                                                                               "PM10"))),
                                      fluidRow(
                                        column(width=4,
                                               selectInput("C3", "Anual:",c("2011","2012","2013","2014","2015","2016","2017")))))),
                                  box(width = NULL,status = "success",
                                      fluidRow(
                                        column(width=12,
                                               plotOutput("plot2"))))
                                  
                          ),
                          tabItem(tabName = "bi",
                                  fluidRow(
                                    column(width=4,
                                           selectInput("D1", "Estacion:", c("IVTH","SEP"))),
                                    fluidRow(
                                      column(width=4,
                                             selectInput("D2", "Bicontaminante:", c("O3-PM10","O3-PM2.5"))),
                                      fluidRow(
                                        column(width=4,
                                               selectInput("D3", "Anual:",c("2011","2012","2013","2014","2015","2016","2017")))))),
                                  box(width = NULL,status = "success",
                                      fluidRow(
                                        column(width=12,
                                               plotOutput("plot3"))))
                                  
                          ),
                          tabItem(tabName = "uni",
                                  fluidRow(
                                    column(width=4,
                                           selectInput("E1", "Estacion:", c("IVTH","SEP"))),
                                    fluidRow(
                                      column(width=4,
                                             selectInput("E2", "Unicontaminante:", c("SO2","NO2","CO"))),
                                      fluidRow(
                                        column(width=4,
                                               selectInput("E3", "Anual:",c("2011","2012","2013","2014","2015","2016","2017")))))),
                                  box(width = NULL,status = "success",
                                      fluidRow(
                                        column(width=12,
                                               plotOutput("plot4"))))
                                  
                          )
                          
                        )
                        
                      )))
